body {
        background-color: rgb(17, 17, 17);
        color: white;
    }
    .cabeçalho {
        background-color: rgb(59, 193, 255);
        
    }



.cabeçalho  li{
    display: flex;
    text-decoration: underline;
    font-family: arial;
    list-style-type: none;
    

}


.Produtos img {
    width: 300px;
    height: 300px;
    
}
